@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"),
    local("Gilroy-Light") url("../fonts/Gilroylight.woff2") format("woff2")
      url("../fonts/Gilroylight.woff") format("woff")
      url("../fonts/Gilroylight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/Gilroyextrabold.woff2") format("woff2"),
    url("../fonts/Gilroyextrabold.woff") format("woff"),
    url("../fonts/Gilroyextrabold.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/proximanova_regular.ttf");
}

body {
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  margin: 0 auto;
}

.hero {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr fit-content(1420px) 1fr;
  height: 768px;
}

.center {
  width: 1420px;
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding: 18px 0;
  top: 0;
  width: 100%;
}
.nav-left {
  display: flex;
  flex-direction: row;
}
.burger {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 11px 0;
  width: 40px;
}

.top-line {
  background-color: white;
  height: 2px;
  z-index: 2;
}

.bottom-line {
  background-color: white;
  height: 2px;
  z-index: 2;
}

.center-line {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

.half-line {
  background-color: white;
  height: 2px;
  width: 18px;
  z-index: 2;
}
.spacer {
  width: 4px;
  z-index: 2;
}
.logo {
  cursor: pointer;
  height: 30px;
  margin-left: 80px;
  margin-top: 8px;

  width: 196px;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.mail-container {
  flex-direction: column;
  margin-right: 141px;
  margin-top: 5px;
}

.mail-label {
  color: #fff;
  opacity: 0.5;
}

.mail-wrapper {
  flex-direction: row;
}

.mail-link {
  color: #fee040;
  cursor: pointer;
  font-size: 14px;
}

.mail-img {
  height: 7.5px;
  margin-right: 9.5px;
  width: 10px;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 460px;
}

.tel-img {
  height: 11px;
  margin-right: 9.5px;
  opacity: 0.5;
  width: 11px;
}

.tel-container {
  flex-direction: row;
  margin-top: 1px;
}

.tel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tel-label {
  color: #fff;
  opacity: 0.5;
}

.tel-text {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 24.36px;
}
.content {
  height: 272px;
  margin-top: 128px;
  padding: 0 120px;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-1 {
  color: #fff;
  font-family: "Giroy";
  font-size: 42px;
  line-height: 51.45px;
}

.line-2 {
  color: #fff;
  font-size: 20px;
  line-height: 34px;
  opacity: 0.7;
}

.header-right {
  display: flex;
  flex-direction: column;
}

.offer {
  background-color: #fee040;
  font-family: "Giroy";
  font-weight: bold;
  letter-spacing: 2px;
  height: 70px;
  line-height: 14.7px;
  text-transform: uppercase;
  width: 340px;
}

.offer img {
  height: 12px;
  margin-right: 12px;
  width: 12px;
}

.header-right p {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 15px;
  line-height: 28px;
  opacity: 0.9;
  margin-top: 40px;
  margin-bottom: 3px;
  opacity: 0.9;
}
.boot {
  display: flex;
  justify-content: space-between;
  height: 228px;
  width: 100%;
}

.features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.feature {
  width: 260.14px;
  height: 56px;
  display: flex;
  margin-right: 100px;
}

.feature-numbers-1 {
  width: 49.11px;
  height: 46.96px;
  margin-right: 31.3px;
}
.feature-numbers-2 {
  width: 53.11px;
  height: 46.96px;
  margin-right: 31.3px;
}

.feature-text {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #fff;
  width: 180px;
}

.video {
  background-image: url(../img/stamp.png);
  width: 220px;
  height: 220px;
  position: relative;
  margin-bottom: 8px;
}

.video video {
  width: 140px;
  height: 140px;
  margin: 40px 40px;
}

.poligon {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 98.5px;
  left: 100px;
}

.why-we {
  display: grid;
  grid-template-columns: 1fr fit-content(1420px) 1fr;
  height: 449px;
}

.why-content {
  display: flex;
  justify-content: space-between;
  width: 1420px;
}
.why-we-left,
.why-we-right {
  display: flex;
  flex-direction: column;
  width: 460px;
}
.why-we-left p {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: bold;
  margin-top: 100px;
}

.why-we-left h4 {
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #707070;
  opacity: 0.7;
  margin-top: 50px;
}

.tv {
  margin-top: 56.25px;
  height: 380px;
}

.why-we-right {
  margin-top: 136px;
}

.why-we-right li {
  margin: 19px 0;
}

.why-we-right p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 700;
  margin-bottom: 9px;
}

.tick {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fee040;
  padding: 8px;
  margin-right: 20px;
}
.preferency {
  height: 30px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 0.7;
  vertical-align: 8px;
}

.services {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 753px;
  background-image: url(../img/services-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services-header {
  display: flex;
  height: 178px;
  flex-direction: column;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.services-header p {
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fee040;
  margin-bottom: 20px;
  font-weight: 300;
}

.services-header h2 {
  font-family: Gilroy;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #fff;
  font-weight: 700;
}

.container {
    width: 100%;
    height: 415px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: none;
  }

.marginer-left,
.marginer-right {
  min-width: 250px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 381px;
  margin-right: 80px;
}

.card-img {
  width: 100%;
  height: 180px;
  margin: 29px 0 35px 0;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #fff;
  margin-bottom: 20px;
}

.card-info {
  height: 78px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 29px;
}

.card-link {
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 7px;
  color: #fee040;
  text-decoration: none;
  text-transform: uppercase;
}

#myBar {
  width: 0;
  margin-top: 61px;
  height: 4px;
  background: linear-gradient(270deg, #fee040 0%, rgba(254, 224, 64, 0) 100%);
}

.steps {
  height: 2000px;
}

.steps h2 {
  font-family: "Bebas Neue";
  font-size: 80px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 5px;
}


@media (min-width: 1201px) and (max-width: 1470px) {
  .hero,
  .why-we {
    display: flex;
  }

  .left,
  .right {
    display: none;
  }

  .center,
  .why-content {
    width: 100%;
    margin: 0 30px;
  }
  .feature {
    margin-right: 0.08vw;
  }

  .line-1 {
    font-size: 32px;
    line-height: 36px;
  }

  .marginer-left,
  .marginer-right {
    min-width: 30px;
  }

  .why-we-left p {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-ExtraBold.otf");
    font-size: 25px;
    line-height: 32px;
    margin-top: 70px;
  }

  .why-we-right li {
    margin: 9px 0;
  }
  .why-we-right {
    margin-top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero,
  .why-we {
    display: flex;
  }

  .left,
  .right {
    display: none;
  }

  .center,
  .why-content {
    width: 100%;
    margin: 0 30px;
  }
  .feature {
    margin-right: 0.08vw;
  }

  .line-1 {
    font-size: 25px;
    line-height: 30px;
  }

  .marginer-left,
  .marginer-right {
    min-width: 30px;
  }

  .why-we-left p {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-ExtraBold.otf");
    font-size: 25px;
    line-height: 32px;
    margin-top: 70px;
  }

  .why-we-right li {
    margin: 9px 0;
  }
  .why-we-right {
    margin-top: 70px;
    width: 300px;
  }

  .nav-left,
  .why-we-left,
  .nav-right {
    width: 300px;
  }
  .mail-container {
    margin-right: 30px;
  }

  .video,
  .tv {
    display: none;
  }

  .content {
    padding: 0;
  }

  .services-header h2 {
    font-size: 22px;
    line-height: 27px;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .left,
  .right {
    display: none;
  }

  .why-we {
    height: 550px;
  }

  .center,
  .why-content {
    width: 100vw;
    margin: 0 15px 0 10px;
    flex-direction: column;
  }

  .feature {
    margin-right: 0.08vw;
  }

  .line-1 {
    font-size: 18px;
    line-height: 22px;
  }

  .marginer-left,
  .marginer-right {
    display: none;
  }

  .why-we-left p {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-ExtraBold.otf");
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
  }
  .preferency {
    height: 30px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.5px;
  }

  .why-we-right li {
    margin: 9px 0;
  }
  .why-we-right {
    margin-top: 20px;
    width: 100%;
  }

  .nav-left,
  .why-we-left,
  .nav-right {
    justify-content: space-between;
    width: 350px;
  }
  .mail-container {
    margin-right: 30px;
  }

  .video,
  .tv,
  .services {
    display: none;
  }

  .content {
    padding: 0;
    margin-top: 60px;
  }

  .services-header h2 {
    font-size: 15px;
    line-height: 22px;
    margin: 0 10px;
  }
  .features {
    display: flex;
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    padding: 5px 0;
    height: 90px;
  }

  .offer {
    width: 200px;
    font-size: 15px;
  }
  .line-2 {
    font-family: "Proxima Nova";
    font-size: 15px;
    line-height: 28px;
  }
  .header {
    flex-direction: column;
  }

  .header-right p {
    font-family: "Proxima Nova";
    font-size: 15px;
    line-height: 20px;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 3px;
  }
}
